In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [11]:
list_1=[]
for i in glob.glob('/home/muhammadshahzad/Downloads/Final_Data/*'):
    for x in glob.glob(i+'/*'):
        list_1.append(pd.read_excel(x))

In [12]:
data=pd.concat(list_1)

In [6]:
data.head()

,Team,Inning,Overs,Runs,Wickets,Balls_Remained,Batting_Strike_Rate,Bowling_Strike_Rate,Venue,Win_Loss,Target
0,Australia,2,0.0,0,0,120,125.547,12.4091,Home,Win,135
1,Australia,2,0.1,0,0,119,125.547,12.4091,Home,Win,135
2,Australia,2,0.2,2,0,118,125.547,12.4091,Home,Win,133
3,Australia,2,0.3,0,0,117,125.547,12.4091,Home,Win,133
4,Australia,2,0.4,0,0,116,125.547,12.4091,Home,Win,133

In [7]:
data.isna().sum()

Team                   0
Inning                 0
Overs                  0
Runs                   0
Wickets                0
Balls_Remained         0
Batting_Strike_Rate    0
Bowling_Strike_Rate    0
Venue                  0
Win_Loss               0
Target                 0
dtype: int64

In [9]:
data.dtypes

Team                    object
Inning                   int64
Overs                  float64
Runs                     int64
Wickets                  int64
Balls_Remained           int64
Batting_Strike_Rate    float64
Bowling_Strike_Rate    float64
Venue                   object
Win_Loss                object
Target                   int64
dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder as le
encoder=le()

In [7]:
for i in data:
    if data[i].dtypes=='object':
        data[i]=encoder.fit_transform(data[i])
data.dtypes

Team                     int64
Inning                   int64
Overs                  float64
Runs                     int64
Wickets                  int64
Balls_Remained           int64
Batting_Strike_Rate    float64
Bowling_Strike_Rate    float64
Venue                    int64
Win_Loss                 int64
Target                   int64
dtype: object

In [8]:
data.head()

,Team,Inning,Overs,Runs,Wickets,Balls_Remained,Batting_Strike_Rate,Bowling_Strike_Rate,Venue,Win_Loss,Target
0,0,2,0.0,0,0,120,125.547,12.4091,1,1,135
1,0,2,0.1,0,0,119,125.547,12.4091,1,1,135
2,0,2,0.2,2,0,118,125.547,12.4091,1,1,133
3,0,2,0.3,0,0,117,125.547,12.4091,1,1,133
4,0,2,0.4,0,0,116,125.547,12.4091,1,1,133

In [13]:
data.to_csv('Raw_data.csv',index=0)

In [10]:
data.Team.value_counts()

1    2056
0    1947
2    1571
3    1357
Name: Team, dtype: int64

In [16]:
from platform import python_version

print(python_version())

3.9.12